.info {
    margin-top: 10px;
    position: relative;
}
.user-home {
    max-width: 40rem;
    width:95%;
    margin: auto;
    font-family: 'Amatic SC', cursive;
    color:white;
}
.user-home-input {
    margin-top: 18px;
    font-size: 25px;
}
.full-name {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
}
.submit-changes-button {
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    width: 150px;
    margin: auto;
    margin-top:20px;
}
.email {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
}
.location {
    color: grey;
    text-align: center;
    /*padding-top: 15px;*/
    font-size: 24px;
    font-weight: 800;
    /*position: absolute;*/
    /*left:50%;*/
    /*transform: translate(-50%, -25%);*/
}
.user-option {
    /*border-bottom: 1px #029292 solid;*/
    position: relative;
    display: flex;
    margin: auto;
    width: fit-content;
}
.old-password {
    border-color: white;
}
.logout-button {
    border: 1.8px red solid;
    color:#ff5400;
    position: relative;
    margin-top:20px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: auto;
    font-size: 25px;
    width: 100px;
    height:38px;
    /* padding: 2px 5px 2px 5px; */
    padding-left: 5px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
.edit-profile {
    /*border: 1.8px #8f949a solid;*/
    color: #8f949a;
    /*position: relative;*/
    /*right: 3px;*/
    /*top: 0px;*/
    /*font-size: 35px;*/

    /*padding: 3px;*/
    /*padding: 2px 5px 2px 5px;*/
    /*font-weight: 800;*/
    /*border-radius: 10px;*/
    cursor: pointer;
    width: fit-content;
}
.edit-img {
    width: 35px;
    height: 35px;
    font-size: 30px;
    margin: 5px;
    color: #00fff2;
}

.go-to-admin {
    border: 1.8px #8f949a solid;
    color:#8f949a;
    position: absolute;
    right: 3px;
    top: 60px;
    font-size: 20px;
    width: 100px;
    height:38px;
    padding: 2px 5px 2px 5px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
.admin-wrapper {
    /*border: 1.8px #8f949a solid;*/
    color: #8f949a;
    /*position: relative;*/
    /*right: 3px;*/
    /*top: 0px;*/
    /*font-size: 20px;*/
    /*padding: 2px 5px 2px 5px;*/
    /*font-weight: 800;*/
    /*border-radius: 10px;*/
    cursor: pointer;
    width: fit-content;
}
.admin-text{
    position: absolute;
    font-size: 16px;
    right: 0;
    top: 0px;
}
.admin-tools {
    margin-right: 3px;
}
.admin-settings-img {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
}
.report-img {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.logout-img {
    margin-left: 7px;
    margin-bottom: 1px;
}
.report {
    font-size: 20px;
    color: white;
}
.user-reports {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}
.report > th {
     padding-top:13px;
     padding-bottom:13px;
     border-bottom: 2px solid white;

 }
.remove-report-button {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.table-wrapper {
    /*background: rgba(33, 33, 33, 0.95);*/
    overflow: auto;
}
.location > img {
    position: relative;
    left: -4px;
    top: -4px;
}
.notification-updater {
    color: #8f949a;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*transform: translate(50%, 50%);*/
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-left: 15px;
}
.send-email-cb > label:before {
    /*position: relative;*/
    left:-25px !important;
}
.send-email-cb {
    width: 80%;
    max-width: 33rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 25px;
    margin-top: 5px;

}