.info {
    margin-top: 10px;
}
.user-home {
    max-width: 40rem;
    width:95%;
    margin: auto;
}
.full-name {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    padding-top: 45px;
}
.email {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}
.location {
    color: grey;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    font-weight: 800;
}
.user-option {
    border-bottom: 1px #029292 solid;
    position: relative;
    height: 50px;
}
.logout-button {
    border: 2px red solid;
    color:red;
    position: absolute;
    right: 0;
    font-size: 18px;
    width: 100px;
    padding: 2px 5px 2px 5px;
    font-weight: 800;
    cursor: pointer;
}
.go-to-admin {
    border: 2px #029292 solid;
    color:#029292;
    position: absolute;
    left: 0;
    font-size: 18px;
    width: 100px;
    padding: 2px 5px 2px 5px;
    font-weight: 800;
    cursor: pointer;
}
.admin-wrapper {
    position: relative;

}
.admin-settings-img {
    margin-left: 4px;
    margin-bottom: 1px;
}
.logout-img {
    margin-left: 4px;
    margin-bottom: 1px;
}
.report {
    font-size: 15px;
    color: white;
}
.user-reports {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}
.report > th {
     padding-top:13px;
     padding-bottom:13px;
     border-bottom: 2px solid white;

 }
.remove-report-button {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.fixed-wrapper {
    position: fixed;
    right: 50%;
    transform: translate(50%);
    width: 95%;
    z-index: 2;
    background: rgba(36, 36, 36, 1);
    max-width: 40rem;
}

.table-wrapper {
    padding-top: 248px;
    background: rgba(33, 33, 33, 0.95);
}