.info {
    margin-top: 10px;
}
.user-home {
    max-width: 40rem;
    width:95%;
    margin: auto;
    font-family: 'Amatic SC', cursive;
    color:white;
}
.full-name {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    padding-top: 25px;
}
.submit-changes-button {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 800;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    width: 150px;
    margin: auto;
    margin-top:20px;
}
.email {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}
.location {
    color: grey;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 800;
}
.user-option {
    border-bottom: 1px #029292 solid;
    position: relative;
    height: 50px;
}
.logout-button {
    border: 1.8px red solid;
    color:#ff5400;
    position: absolute;
    right: 3px;
    top: 0;
    font-size: 25px;
    width: 100px;
    height:38px;
    /* padding: 2px 5px 2px 5px; */
    padding-left: 5px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
.edit-profile {
    border: 1.8px red solid;
    color:#ff5400;
    position: absolute;
    right: 3px;
    top: -45px;
    font-size: 20px;
    width: 100px;
    height:38px;
    padding: 2px 5px 2px 5px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}
.go-to-admin {
    border: 2px #029292 solid;
    color:#029292;
    position: absolute;
    left: 0;
    font-size: 18px;
    width: 100px;
    padding: 2px 5px 2px 5px;
    font-weight: 800;
    cursor: pointer;
}
.admin-wrapper {
    position: relative;

}
.admin-settings-img {
    margin-left: 4px;
    margin-bottom: 1px;
}
.logout-img {
    margin-left: 7px;
    margin-bottom: 1px;
}
.report {
    font-size: 20px;
    color: white;
}
.user-reports {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}
.report > th {
     padding-top:13px;
     padding-bottom:13px;
     border-bottom: 2px solid white;

 }
.remove-report-button {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.table-wrapper {
    /*background: rgba(33, 33, 33, 0.95);*/
    overflow: auto;
}
.location > img {
    position: relative;
    left: -4px;
    top: -4px;
}
.notification-updater {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    /*transform: translate(50%, 50%);*/
    width: 36px;
    height: 36px;
    cursor: pointer;
}