.caption {
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    font-size: 27px;
    font-weight: 900;
    width: 100%;
}
.caption-img {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 43px;
    color: white;
}
.submit-screen {
    position: relative;
    height: 85%;
}

.add-note {
    color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-color: black;
    transition: width 0.6s linear 0.1s;
}
.add-note:focus {
    width: 80%;
}

input {
    background-color: transparent;
    width:100%;
    border: 0;
    text-align: center;
    font-weight: 800;
}
input:focus {
    outline-width: 0;
}
.wf-option-wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wf-option {
    color: white;
    border: white 3px solid;
    font-size: 22px;
    font-weight: 800;
    width: 100px;
    margin: 5px;

}
.button-row {
    margin: auto;
}
.wf-option-clicked {
    background-color: white;
    color: rgba(165, 78, 138, 1);
}