.app-body {
    position: relative;
    height: 90%;
}
.body-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    max-width: 35rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.who-r-u-text {
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: 800;
    z-index: 50;
}
