.login {
    width: inherit;
    font-weight: 900;
    color: white;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    
}
.login-text {
    width: 100%;
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 15px;
    height: 25%;
}

.field-set-input {
    margin-top: 25px;
    border: 2px solid white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 33rem;
    font-size: 28px;
    border-radius: 10px;
    position: relative;
}

.pwd-visibility-icon {
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
}

.login-body {
    height: 60%;
}
::-webkit-input-placeholder {
    color: grey;
}
:-ms-input-placeholder {
    color: grey;
}
::-moz-placeholder {
    color: grey;
    opacity: 1;
}
:-moz-placeholder {
    color: grey;
    opacity: 1;
}
.auth-text {
    color:white;
    margin: auto;
    height: 3.7rem;
    font-size: 2rem;
    font-weight: 800;
    max-width: 33rem;
}
.login-screen-button {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;

    font-size: 28px;
    font-weight: 800;
    border-width: 3px;
    border-style: solid;
    /*max-width: 33rem;*/
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 45%;
}
.button-left {
    position: absolute;
    left: 0;
}
.button-right {
    position: absolute;
    right: 0;
}
.login-screen-buttons-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    position: relative;
    height: 100px;
    margin-top: 50px;
}
.bottom-buttons {
    height: calc( 15% - 75px );
    margin-top: 0 !important;
    
}
.clicked-button-style{
    background-color: white;
    color: black;
    border-color: black;
}