.login {
    position: absolute;
    top: 20%;
    width: inherit;
    font-size: 4vh;
    font-weight: 900;
    color: white;

}
.login-text {
    width: 100%;
    text-align: center;
}
.field-set-input {
    margin-top: 25px;
    border: 2px solid white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}
::-webkit-input-placeholder { /* Chrome */
    color: lightpink;
}
:-ms-input-placeholder { /* IE 10+ */
    color: lightpink;
}
::-moz-placeholder { /* Firefox 19+ */
    color: lightpink;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: lightpink;
    opacity: 1;
}