.wait-auth {
    max-width: 40rem;
    width:95%;
    margin: auto;
}
.wait-text {
    font-size: 33px;
    font-weight: 900;
    color: white;
    margin: 70px auto auto auto;
    text-align: center;
}
.wait-img-wrapper {
    margin-top: 60px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.cancel-button {
    height: 60px;
    width: 60%;
    min-width: 17rem;
    font-size: 27px;
    font-weight: 800;
    border: 3px white solid;
    max-width: 33rem;
    cursor: pointer;
    text-align: center;
    color: white;
    margin: 80px auto auto auto;
    position: relative;
}
