.flex-row{
    display: flex;
    flex-direction: row;
}
.date-time-picker-wrapper {
    z-index: 1;
    max-width: 33rem;
    opacity: 0;
    padding-top: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
.RangeExample {
    overflow: hidden;
    /* height: 100%; */
    height: 385px;
    width: 100%;
    margin: auto;
}
.time-picker-wrapper {
    width: 100%;
    height: 40px;
    /*max-width: 14rem;*/
    position: relative;
    margin: auto;

}
.dash {
    height: 0px;
    width: 15px;
    margin-top: 19px;
    margin-bottom: 19px;
    border-top: 2px solid white;
}
.time-picker {
    width: 65px;
    position: relative;
    font-size: 27px;
}
#time-picker {
    z-index: 5;
    width: fit-content;
    position: absolute;
}
.DayPicker {
    width: 100%;
    margin: auto;
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: lightblue !important;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);

}
.Selectable .DayPicker-Day--end {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.Selectable .DayPicker-Day--start.DayPicker-Day--end {
    -webkit-clip-path: polygon(20% 0, 80% 0, 100% 55%, 80% 100%, 20% 100%, 0 52%);
    clip-path: polygon(20% 0, 80% 0, 100% 55%, 80% 100%, 20% 100%, 0 52%);
}

.DayPicker-Body {
    background-color: white;
}
.DayPicker-Month {
    /*width: 91%;*/
    border: 2px solid;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.DayPicker-Day {
    padding: 0.8rem;
    font-size: 20px;
}
.DayPicker-Caption {
    display: table-caption;
    text-align: left;
    padding: 6px 0 6px 15px;
    width: 100%;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    background-color: white;
    margin-bottom: 0;
}
.DayPicker-Caption > div {
    font-size: 25px;
    font-weight: 800;

}
.DayPicker-Weekday {
    color: white;
    font-size: 23px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.DayPicker-NavButton {
    top: 1rem;
    margin-left: 2rem;
}
.date-title {
    font-size: 27px;
    position: relative;
    background-color: black;
    text-align: center;
    width: 95%;
    /* padding:0.7rem 1rem 0.7rem 1rem; */
    margin: auto;
    height: 55px;
}
.date-img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
}
.date-chosen-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
}
@media only screen and (max-height : 650px) {
    .DayPicker-Day {
        padding: 0.4rem !important;
        font-size: 18px !important;

    }
    .DayPicker-Weekday {
        font-size: 19px !important;
    }
    .RangeExample {
        height: 300px;
    }
}
input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}
input[type="checkbox"] + label {
    font-size: 20px;
    color: white;
    position: relative;
    width: 115px
}
input[type="checkbox"] + label:before {
    border: 1px solid white;
    content: "\00a0";
    display: inline-block;
    font: 18px/1em sans-serif;
    height: 20px;
    vertical-align: top;
    width: 20px;
    position: absolute;
    top:50%;
    left:11px;
    transform: translateY(-50%);

}
input[type="checkbox"]:checked + label:before {
    background: transparent;
    color: white;
    content: "\2713";
    text-align: center;
}
input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

input[type="checkbox"]:focus + label::before {
    outline: white auto 5px;
}
.all-day-wrapper {
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.time-wrapper {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}