.where-info {
    background-color: rgba(36, 36, 36, 1);
    /*height: 100%;*/

}
.title-where-text {
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin: auto;
    text-align: center;
}
.status-where {
    height: 170px;
}
.status-where-title {
    font-size: 27px;
    color: white;
    padding: 8px;
    font-weight: 800;
    border-radius: 20px;
    /* height: 30%; */
    position: relative;
    margin: auto;

}
.name {
    color: white;
    font-size: 20px;
    font-weight: 800;
    height: 25%;
    position: relative;
    margin-left: 20px;
    margin-bottom: 0;

}
.people-wrapper {
    /*position: relative;*/
    height: 70%;
    overflow-y: auto;
;

}
.status-where-img {
    /*margin-left: 50px;*/
}
.span-img {
    position: absolute;
    right: 20px;
}
.day-button {
    color:white;
    margin: auto;
    width: 40%;
    border: 3px solid white;
    position: relative;
    height: 50px;
    font-size: 24px;
    font-weight: 800;
    max-width: 33rem;
    cursor: pointer;
    text-align: center;
}