.where-info {

    height: 100%;

    margin: auto;
    position: relative;
    /* margin: auto; */
    /* min-height: 35rem; */
    max-width: 33rem;
    max-height: 70rem;

}
.where-wrapper {
    background-color: rgba(36, 36, 36, 1);
    height: 100%;
    font-family: 'Amatic SC', cursive;
    min-height:  480px;
}
.title-where-text {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 33px;
    font-weight: 700;
}
.status-where {
    margin-bottom: 10px;

}
.status-where-title {
    font-size: 24px;
    color: white;
    padding: 2px;
    padding-left: 20px;
    font-weight: 800;
    border-radius: 20px;
    /* height: 30%; */
    position: relative;
    margin: auto;

}
.report-line {
    font-size: 27px;
    margin-bottom: 0;
    height: 40px;
    overflow: hidden;
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}
.people-wrapper {
    overflow-y: auto;
    /*max-height: 105px;*/
    padding-left: 20px;
    padding-right: 20px;
}
.status-where-img {
    /*margin-left: 50px;*/
}
.span-img {
    position: absolute;
    right: 20px;
}
.day-button {
    color:white;
    margin: auto;
    width: 40%;
    border: 3px solid white;
    height: 50px;
    max-width: 33rem;
    cursor: pointer;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    border-radius: 10px;

}
.bottom-button-wrapper {
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.day-button-clicked {
    /*color:white;*/
    margin: auto;
    width: 40%;
    border: 3px solid white;
    height: 50px;
    max-width: 33rem;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: rgb(31,31,31);
    font-size: 29px;
    font-weight: 700;
    border-radius: 10px;
}
/*@media screen and (min-height: 700px) {*/
    /*.people-wrapper {*/
        /*max-height: 138px;*/
    /*}*/
/*}*/
/*@media screen and (min-height: 750px) {*/
    /*.people-wrapper {*/
        /*max-height: 154px;*/
    /*}*/
/*}*/
/*@media screen and (min-height: 800px) {*/
    /*.people-wrapper {*/
        /*max-height: 171px;*/
    /*}*/
/*}*/