@import '~antd/dist/antd.css';
.App {
  text-align: center;
    height: 100%;
    min-height: 35rem;
    position: relative;
    z-index: 5;

}
.App-wrapper {
    height: 100%;
    -webkit-transition: opacity 0.7s linear;
    -moz-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
    min-height: 35rem;
    overflow: hidden;
}
.ant-carousel{
    text-align: center;
    overflow: hidden;
    height: 80%;
}
.slick-slider {
    height: 100%;
}
.slick-list {
    height: 100%;
}
.slick-slide {
    text-align: center;
    /*display: table;*/
}
.slick-track {
    height: 100%;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.input-step {

}
.time-picker {
    color: white;
}
#root {
    height: 100%;
}
hr {
    margin: 10px 10px 10px 10px;
}

.slick-dots-manual {
    position: absolute;
    bottom: 12px;
    list-style: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3px;
}
.slick-dots-manual li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 2px;
    padding: 0;
}
.slick-dots-manual li div {
    border: 0;
    background: #fff;
    opacity: 0.3;
    display: block;
    width: 16px;
    height: 3px;
    border-radius: 1px;
    outline: none;
    font-size: 0;
    color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 0;
}
.slick-dots-manual li.slick-active div {
    background: #fff;
    opacity: 1;
    width: 24px;
}
.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
    z-index: 100;
}