.footer {
    /*display: -webkit-box;*/

    height: 10%;
    position: relative;
    bottom: 20px
}
.next-button {
    color:white;
    margin: auto;
    width: 60%;
    border-color: white;
}
.bottom-button {
    height: 3.7rem;
    width: 60%;
    font-size: 2rem;
    font-weight: 800;
    border-width: 3px;
    border-style: solid;
    max-width: 33rem;
    cursor: pointer;
}