.footer {
    height: 10%;
}
.next-button {
    color:white;
    margin: auto;
    border-color: white;
    position: relative;
}
.bottom-button {

    width: fit-content;
    padding: 2px 25px 2px 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    border-width: 3px;
    border-style: solid;
    /*max-width: 80%;*/
    cursor: pointer;
}
.next-button span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    /*border-radius: 50%;*/
    /*background-color: #624670;*/
    background-color: ghostwhite;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.footer-img {
    position: relative;
    left: 10px;
}