.footer {
    height: 10%;
    position: absolute;
    bottom: 12px;
    left:50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.next-button {
    color:white;
    margin: auto;
    border-color: white;
    position: relative;
    
}
.bottom-button {

    width: 60%;
    padding: 2px 25px 2px 25px;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    min-width: 300px;
    position: relative;
    top: 50%;
    cursor: pointer;
    transform: translate(0,-50%);
}
.footer-img {
    position: relative;
    left: 10px;
}